{% macro get(blockName) %}

{% if blockName === 'white-space-below-image' %}
<img src="http://images.freeimages.com/images/previews/cf4/rock-texture-1190599.jpg" alt="rock-texture" width="660" height="440">

{% elif blockName === '' %}

{% endif %}
{% endmacro %}