{% macro get(blockName) %}

{% if blockName === 'white-space-below-image' %}
  <img src="http://lorempixel.com/100/100/" alt="rock-texture" width="100" height="100">

{% elif blockName === 'grid' %}
  <ul>
    <li><div class="min-box green">
      1 <img src="http://lorempixel.com/800/800/" alt="" width="800" height="800">
      <p style="width: 600px; display: none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam, tenetur voluptates suscipit cum harum sint magni animi necessitatibus? Ratione laboriosam et quasi doloremque excepturi, qui quam assumenda nobis consequuntur!</p>
    </div></li>
    <li><div class="min-box green">2</div></li>
    <li><div class="min-box green">3</div></li>
  </ul>

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% endif %}
{% endmacro %}