{% macro get(blockName) %}

{% if blockName === 'grid' %}
  <ul>
    <li><div class="min-box green">
      1 <img src="http://lorempixel.com/800/800/" alt="" width="800" height="800">
      <p style="width: 600px; display: none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam, tenetur voluptates suscipit cum harum sint magni animi necessitatibus? Ratione laboriosam et quasi doloremque excepturi, qui quam assumenda nobis consequuntur!</p>
    </div></li>
    <li><div class="min-box green">2</div></li>
    <li><div class="min-box green">3</div></li>
  </ul>

{% elif blockName === 'gallery' %}
  <ul>
    <li><img src="http://lorempixel.com/300/200/food/1" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/2" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/3" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/4" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/5" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/6" alt="" width="300" height="200"></li>
    <li><img src="http://lorempixel.com/300/200/food/7" alt="" width="300" height="200"></li>
  </ul>

{% elif blockName === 'masonry' %}
  <ul>
    <li>
      <img src="http://lorempixel.com/400/200" alt="" width="400" height="200">
      <p>Lorem ipsum dolor sit amet, incidunt voluptatibus in, labore itaque consequuntur facere blanditiis! Debitis nihil reiciendis, cum quis vitae non eveniet laudantium?</p>
    </li>
    <li>
      <img src="http://lorempixel.com/400/402" alt="" width="400" height="402">
      <p>Porro cupiditate suscipit, repellat non doloribus dicta possimus hic magni facere ipsa minima laboriosam eum magnam, expedita ratione saepe neque id. Adipisci.</p>
    </li>
    <li>
      <img src="http://lorempixel.com/400/201" alt="" width="400" height="201">
      <p>Deserunt dolorum eum obcaecati, nihil optio reprehenderit sapiente. Accusantium illum officiis natus inventore quo. Possimus id architecto, ut impedit eveniet numquam voluptates.</p>
    </li>
    <li>
      <img src="http://lorempixel.com/400/420" alt="" width="400" height="420">
      <p>Est fugiat reprehenderit, maiores. Vero facilis porro aspernatur doloribus, minus, sunt, unde quibusdam modi at nulla reiciendis nihil commodi deserunt nemo dignissimos. Voluptatum quisquam nam fuga, ut odit dolore explicabo?</p>
    </li>
    <li>
      <img src="http://lorempixel.com/400/150" alt="" width="400" height="150">
      <p>Obcaecati modi molestiae debitis expedita enim praesentium dignissimos, consequuntur excepturi magni velit tenetur earum? Assumenda quam facilis, incidunt obcaecati dignissimos laboriosam qui magnam aliquid dolorem asperiores?</p>
    </li>
    <li>
      <img src="http://lorempixel.com/400/280" alt="" width="400" height="280">
      <p>Perferendis unde ullam fugiat sapiente error explicabo quam reprehenderit, dolorum.</p>
    </li>
  </ul>

{% elif blockName === 'media-list' %}
  <div class="media-list">
    <figure><img src="http://lorempixel.com/80/80/animals/1" alt="" width="80" height="80"></figure>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cum voluptates laudantium similique alias qui magni voluptatibus nobis eum! Aperiam!</p>
      <p>Odio dolores praesentium, voluptatum doloremque totam cumque nemo aut placeat? Doloremque consequatur in sunt tempora quibusdam quam possimus necessitatibus obcaecati.</p>
      <p>Accusantium consequatur saepe, debitis enim laudantium soluta atque perferendis nostrum asperiores, reiciendis placeat? Adipisci, consequuntur! Similique obcaecati, nam provident dolor!</p>
      <div class="media-list">
        <figure><img src="http://lorempixel.com/80/80/animals/2" alt="" width="80" height="80"></figure>
        <div>
          <p>Animi quibusdam consectetur natus accusantium autem eligendi possimus, similique a odio. Alias, nihil. Corrupti, maxime labore inventore ipsa qui totam?</p>
          <p>Nesciunt numquam, sint corporis, perspiciatis explicabo pariatur, saepe ullam aut voluptas repudiandae, reiciendis eveniet molestias. Dolorem mollitia cupiditate ea aspernatur.</p>
          <p>Perspiciatis rem adipisci repellendus, delectus corrupti, voluptate modi repudiandae corporis ipsam, pariatur voluptatum provident odit id nobis libero soluta eveniet.</p>
        </div>
      </div>
    </div>
  </div>

{% elif blockName === 'justify' %}
  <ul class="list">
    <li><a href="">Eaque</a></li>
    <li><a href="">Officiis</a></li>
    <li><a href="">Dolores</a></li>
    <li><a href="">Fugit</a></li>
    <li><a href="">Placeat</a></li>
  </ul>

{% elif blockName === 'center' %}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ut, eligendi laboriosam nostrum ipsam unde, aliquam rerum mollitia aperiam excepturi culpa itaque animi aliquid adipisci quisquam cupiditate similique numquam quaerat.</p>

{% elif blockName === 'white-space-below-image' %}
  <img src="http://lorempixel.com/100/100/" alt="rock-texture" width="100" height="100">

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% elif blockName === '' %}

{% endif %}
{% endmacro %}