html { font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif; touch-action: manipulation; }
body { margin: 0; }
ul, ol { padding: 0; }
li { list-style: none; }
img, video { max-width: 100%; height: auto; }
iframe { max-width: 100%; }
figure { margin: 0; }
@media \0screen {
  img { width: auto; }
}
label { cursor: pointer; }
select { -webkit-appearance: none; }
a { text-decoration: none; color: inherit; }

// reset prism
pre[class*="language-"] {
  margin-top: 0;
  border-radius: 0;
  box-sizing: border-box;
}

// utilities
%global-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.min-box { min-height: 100px; }
.green { background-color: #a6e22e; }
.cap { color: #999; }

p { margin-top: 0; }
ul, ol, dl { margin: 0; }
h1, h2, h3, h4, .segment > p, .full-width .segment__code { @extend %global-width; }

// page nav
.page-nav {
  position: sticky;
  top: 0;

  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  letter-spacing: -0.34em;
  li {
    display: inline-block;
    letter-spacing: 0;
    a {
      display: block;
      padding: 0 0.6em;

      background-color: hsl(0, 0%, 95%);

      line-height: 2.2;
      text-transform: capitalize;

      transition: background-color 0.25s;
      &:hover { background-color: hsl(0, 0%, 88%); }
    }
  }
}

$gutter: 12px;
// segment
.segment {
  margin: 10% 0;
  &__title { padding-top: 50px; }
  &__result {
    resize: both;
    overflow: hidden;
    > div { max-height: 100%; }
  }
}
.fixed-width { overflow: hidden; }
@media (min-width: (1000 / 16) * 1em) {
  .full-width .segment__code,
  .fixed-width {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .full-width .segment__code pre,
  .fixed-width section {
    float: left;
    width: calc(50% - #{$gutter/2});
    &:not(:last-child) { margin-right: $gutter; }
  }
}

// copy button
.copy-button {
  padding: 0 1.5em;
  height: 2.6em;
  border: 0;
  color: #fff;
  background-color: #f92672;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.code-wrapper {
  position: relative;
  .copy-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .js &:hover .copy-button {
    opacity: 1;
  }
}