//=> {% macro get(blockName) %}

//=> {% if blockName === 'grid_float-minus-margin' %}
.grid_float-minus-margin ul {
  margin-right: -10px; // clear the extra gutter
  &:after { content: ''; display: table; clear: both; } // clear float
  li {
    float: left;
    padding-right: 10px; // gutter
    box-sizing: border-box;
  }
  > :nth-child(1) { width: 25%; }
  > :nth-child(2) { width: 35%; }
  > :nth-child(3) { width: 40%; }
}

//=> {% elif blockName === 'grid_float-calc' %}
.grid_float-calc ul {
  &:after { content: ''; display: table; clear: both; } // clear float
  li {
    float: left;
    &:not(:last-child) { margin-right: 10px; }
  }
  > :nth-child(1) { width: calc(25% - 10px * 2 / 3); }
  > :nth-child(2) { width: calc(35% - 10px * 2 / 3); }
  > :nth-child(3) { width: calc(40% - 10px * 2 / 3); }
}

//=> {% elif blockName === 'grid_flex' %}
.grid_flex ul {
  display: flex;
  li {
    flex: 1 1 auto;
    &:not(:last-child) { margin-right: 10px; }
  }
  > :nth-child(1) { flex-basis: 25%; }
  > :nth-child(2) { flex-basis: 35%; }
  > :nth-child(3) { flex-basis: 40%; }
}

//=> {% elif blockName === 'grid_grid' %}
.grid_grid ul {
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-gap: 10px;
}

//=> {% elif blockName === 'gallery_inline-block' %}
.gallery_inline-block ul {
  margin-right: -15px; // remove the last gutter
  
  letter-spacing: -0.34em;
  > li {
    display: inline-block;
    width: 50%;
    padding: 0 15px 15px 0;

    letter-spacing: 0;
    box-sizing: border-box;

    @media (min-width: 600px) {
      width: 33.33333%;
    }
    @media (min-width: 900px) {
      width: 25%;
    }
  }
}

//=> {% elif blockName === 'gallery_float' %}
.gallery_float ul {
  margin-right: -15px; // remove the last gutter

  > li {
    float: left;
    width: 50%;
    padding: 0 15px 15px 0;

    box-sizing: border-box;
    &:nth-child(2n+1) { clear: left; }

    @media (min-width: 600px) {
      width: 33.33333%;
      &:nth-child(n) { clear: none; }
      &:nth-child(3n+1) { clear: left; }
    }
    @media (min-width: 900px) {
      width: 25%;
      &:nth-child(n) { clear: none; }
      &:nth-child(4n+1) { clear: left; }
    }
  }
}

//=> {% elif blockName === 'gallery_grid' %}
.gallery_grid ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//=> {% elif blockName === 'masonry_multi-column' %}
.masonry_multi-column ul {
  overflow: hidden; // fix an chrome overflow issue
  column-count: 2;
  column-gap: 20px;
  li { 
    margin-bottom: 20px; 
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

// fallback for IE9-
.lt-ie10 {
  .masonry {
    text-align: center;
    > li {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      margin: 0 20px 20px 0;
      text-align: left;
    }
  }
}

//=> {% elif blockName === 'media-list_display-table' %}
.media-list_display-table {
  .media-list {
    > figure,
    > div {
      display: table-cell;
      vertical-align: top;
    }
    > figure {
      padding-right: 15px;
      img { max-width: none; }
    }
    > div { width: 10000px; }
  }
}

//=> {% elif blockName === 'media-list_float' %}
.media-list_float {
  .media-list {
    > figure {
      float: left;
      margin-right: 15px;
    }
    > div { overflow: hidden; }
  }
}

//=> {% elif blockName === 'media-list_flex' %}
.media-list_flex {
  .media-list {
    display: flex;
    > figure {
      flex: 0 0 auto;
      margin-right: 15px;
    }
    > div { flex: 1 1 auto; }
  }
}

//=> {% elif blockName === 'justify_text-align' %}
.justify_text-align .list {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  li {
    display: inline-block;
  }
}

//=> {% elif blockName === 'justify_flex' %}
.justify_flex .list {
  display: flex;
  justify-content: space-between;
}

//=> {% elif blockName === 'center-basic' %}
[class*="center_"] {
  height: 500px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  > p {
    width: 70%;
  }
}

//=> {% elif blockName === 'center_pseudo-element' %}
.center_pseudo-element {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  > p {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
}

//=> {% elif blockName === 'center_flex' %}
.center_flex {
  display: flex;
  > p { 
    margin: auto; 
  }
}

//=> {% elif blockName === 'white-space-below-image-basic' %}
[class*="white-space-below-image_"] { background-color: #f92672; }

//=> {% elif blockName === 'white-space-below-image_vertical-align' %}
.white-space-below-image_vertical-align img { vertical-align: bottom; } // or top

//=> {% elif blockName === 'white-space-below-image_display' %}
.white-space-below-image_display img { display: block; }

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% elif blockName === '' %}

//=> {% endif %}
//=> {% endmacro %}